<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>KatchIt!</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>KatchIt! benötigt Kamerazugriff um Fotos für die Kategorien aufzunehmen.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>KatchIt! benötigt Zugriff auf deine Fotobibliothek um Bilder auszuwählen.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>KatchIt! speichert den Aufnahmeort deiner Spielfotos, damit du und deine Mitspieler sehen können, wo die Fotos entstanden sind.</string>
</dict>
</plist>
